<div class="main-container">
  <header class="header-4">
    <div class="branding">
        <a class="nav-link">
            <clr-icon shape="home"  size="24"></clr-icon>
            <span class="title">Clínica V1</span>
        </a>
    </div>
    <div class="header-nav">
        <a class="active nav-link nav-text">Inicio</a>
        <a class="nav-link nav-text">Administración</a>
    </div>
</header>
  <div class="content-container">
      <div class="content-area">
 
          
          <router-outlet></router-outlet>
      </div>
      <nav class="sidenav">
        <section class="sidenav-content">
          <a class="nav-link active"   routerLink="/inicio" routerLinkActive="active"  >Inicio</a>
          <section class="nav-group collapsible">
            <input id="tabexample1" type="checkbox">
            <label for="tabexample1">Incidencias</label>
            <ul class="nav-list">
              <li><a class="nav-link"  routerLink="/estadisticas" routerLinkActive="active" >Estadísticas</a></li>
              <li><a class="nav-link"     routerLink="/busquedas" routerLinkActive="active">Búsquedas</a></li>
            </ul>
          </section>
          <section class="nav-group collapsible">
            <input id="tabexample2" type="checkbox">
            <label for="tabexample2">Reportes</label>
            <ul class="nav-list">
              <li><a class="nav-link">Generar</a></li>
              <li><a class="nav-link">Descargas</a></li>
            </ul>
          </section>
        </section>
    </nav>
  </div>
</div>